<div class="col-12">
    <div class="row">
        <div class="col-4">
            <button mat-raised-button color="success" [routerLink]="['/admin/category/0/create']">
                <i  class="material-icons md-16">add_box</i> Nuevo</button>
        </div>
        <div class="col-8">
            <mat-form-field style="width: 100%">
                <input matInput type="search" [(ngModel)]="query" (keyup)="search($event)" placeholder='Filtrar' />
            </mat-form-field>
        </div>
        <div class="col-12">
            <table mat-table [dataSource]="categorys" style="width: 100%">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.description}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="parent">
                    <th mat-header-cell *matHeaderCellDef>Categoria padre</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.parent_category? element.parent_category.name : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="action">Acción</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="action" mat-button color="accent" [routerLink]="['/admin/category/'+ element._id +'/create']"><i class="material-icons"
                                >create</i></button>
                        <button class="action" mat-button color="warn" (click)="delete(element)"><i  class="material-icons md-16">delete</i></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="size" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPage($event)">
            </mat-paginator>
        </div>
    </div>
</div>