<form class="col-12" #sectionForm="ngForm" novalidate (ngSubmit)="save()">
    <div class="row" *ngIf="section">
        <div class="col-12 col-md-6">
            <mat-form-field class="form-full-width">
                <input matInput placeholder="Código" #code="ngModel" name="code" required
                    [(ngModel)]="section.code" type="text" class="form-full-width">
                <mat-hint *ngIf="code.errors && code.touched" align="end">
                    <span *ngIf="code.errors.required" class="error">
                        <i class="material-icons">error</i> El código es requerido.
                    </span>
                </mat-hint>
                <mat-hint *ngIf="code.valid && code.touched" align="end">
                    <span class="success">
                        <i class="material-icons">check</i>
                    </span>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="col-12  col-md-6">
            <mat-form-field style="width: 100%">
                <mat-select [disabled]="!!training_id" name="training" required placeholder="Curso" [(ngModel)]="section.training">
                    <mat-option *ngFor="let training of trainings" [value]="training._id">{{ training.title }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12  col-md-3">
            <mat-form-field style="width: 100%">
                <input name="start_date" #start_date="ngModel" [(ngModel)]="section.start_date" required matInput [matDatepicker]="start_date"
                    placeholder="Fecha de inicio">
                <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                <mat-datepicker #start_date></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12  col-md-3">
            <mat-form-field style="width: 100%">
                <input name="end_date" #end_date="ngModel" [(ngModel)]="section.end_date" required matInput [matDatepicker]="end_date" placeholder="Fecha de fin">
                <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
                <mat-datepicker #end_date></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12  col-md-6">
            <mat-form-field style="width: 100%">
                <mat-select name="status" required placeholder="Estado" [(ngModel)]="section.status">
                    <mat-option *ngFor="let status of statues" [value]="status._id">{{ status.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12  col-md-6">
            <mat-form-field class="form-full-width">
                <input type="number" max="100" min="0" matInput placeholder="Porcentaje de aceptación" #percentage="ngModel" name="percentage" required [(ngModel)]="section.percentage" class="form-full-width">
                <mat-hint *ngIf="percentage.errors && percentage.touched" align="end">
                    <span *ngIf="percentage.errors.required" class="error">
                        <i class="material-icons">error</i> El porcentaje de aceptación es requerido.
                    </span>
                </mat-hint>
                <mat-hint *ngIf="percentage.valid && percentage.touched" align="end">
                    <span class="success">
                        <i class="material-icons">check</i>
                    </span>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="col-12  col-md-6">
            <mat-checkbox name="actived" [(ngModel)]="section.tutorial">
                Curso tutorial
            </mat-checkbox>
        </div>
        <div class="col-12 col-md-6" *ngIf="training_id">
            <mat-form-field class="form-full-width">
                <mat-select name="author" required placeholder="Autor" [(ngModel)]="section.author">
                    <mat-option *ngFor="let person of persons" [value]="person._id">{{ person.name }} {{ person.last_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class=" margin-top-xs">
        <button *ngIf="!training_id" class="margin-right-sm" type="button" mat-raised-button [routerLink]="['/admin/section/list']"><i class="material-icons">cancel</i>
            Cancelar</button>
        <button *ngIf="training_id" class="margin-right-sm" type="button" mat-raised-button [routerLink]="['/admin/section/'+training_id+'/list']"><i class="material-icons">cancel</i>
            Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!sectionForm.valid"> Guardar <i class="material-icons">save</i></button>
    </div>
</form>