<div class="shadow-container col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12 no-padding-l-r">
    <div class="header text-center">
            <p><i  class="material-icons"style="color: #009688; font-size: 64px;">check</i></p>
        <h5 class="margin-top-xs">ACCION SATISFACTORIA</h5>
    </div>
    <div class="body margin-top-xs">
        <div class="col-12 text-center">
            <div class="alert alert-success">
                <h5>{{message}}</h5>
            </div>
            <div>
                <div class="col-12 margin-top-xs">
                    <a [routerLink]="['/site/home']" class="btn btn-default btn-lg btn-block">Ir al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>  