<div class="shadow-container col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12 no-padding-l-r">
    <loading></loading>
    <div class="header text-center">
        <h3 class="margin-top-xs">¡Nueva Contraseña!</h3>
    </div>
    <div class="body margin-top-xs">
        <form class="col-12" #recoverForm="ngForm" novalidate (ngSubmit)="save()">
            <div class="form-group" [ngClass]="{ 'has-error': !password.valid, 'has-success' : password.valid}">
                <i class="material-icons">lock</i>
                <input name="password" type="password" [(ngModel)]="user.password" required minlength="7" maxlength="20" #password="ngModel"
                    class="form-control" placeholder="Contraseña" />
                <span *ngIf="!password.valid && password.touched" class="error">
                    <i  class="material-icons"*ngIf="password.errors.required" mat-tooltip="La contraseña es requerida." tooltip-position="above">error</i>
                    <i  class="material-icons"*ngIf="password.errors.minlength || password.errors.maxlength" mat-tooltip="La contraseña deve tener una longitud de 8 a 20 caracteres."
                        tooltip-position="above">error</i>
                </span>
                <span *ngIf="password.valid && password.touched" class="success">
                    <i class="material-icons">check</i>
                </span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !password_confirm.valid, 'has-success' : password_confirm.valid}">
                <i class="material-icons">lock</i>
                <input name="password_confirm" type="password" [(ngModel)]="user.password_confirm" validateEqual="password" required minlength="7" maxlength="20" #password_confirm="ngModel" class="form-control" placeholder="Confirme Contraseña"
                />
                <span *ngIf="!password_confirm.valid && password_confirm.touched" class="error">
                    <i  class="material-icons"*ngIf="!password_confirm.errors.validateEqual" mat-tooltip="Las contraseñas no coinciden."
                        tooltip-position="above">error</i>
                </span>
                <span *ngIf="password_confirm.valid && password_confirm.touched" class="success">
                    <i class="material-icons">check</i>
                </span>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!recoverForm.valid">Guardar</button>
        </form>
    </div>
</div>