<div id="page-title">
    <div class="title-bar dark bg-black padded-vertical-70">
        <div class="container text-center">
            <div class="row">
                <div class=" col-lg-8 col-lg-offset-2 error-ct">
                    <span class="icon icon-lg icon-circle icon-primary margin-bottom-20"><i class="fa fa-times"></i></span>
                    <h1 class="text-uppercase margin-bottom-0"><strong>401</strong> Error</h1>
                    <span class="sep sep-primary"></span>
                    <div class="font-alt text-muted margin-bottom-20">Lo sentimos... Usted no tiene accesos a esta pagina:-(</div>
                    <a [routerLink]="['/site/home']" class="btn btn-sm btn-primary"><span class="btn-inner">Ir al inicio</span></a>
                    <a [routerLink]="['/site/contact']" class="btn btn-sm btn-primary"><span class="btn-inner">Contactanos</span></a>
                </div>
            </div>
        </div>
    </div>
</div>