<div class="col-md-8 offset-md-2 no-padding-l-r">
    <div class="body margin-top-xs">
        <form class="col-12" #recoverForm="ngForm" novalidate (ngSubmit)="save()">
            <div class="form-group" [ngClass]="{ 'has-error': !last_password.valid, 'has-success' : last_password.valid}">
                <i class="material-icons">lock</i>
                <input name="last_password" type="password" [(ngModel)]="user.last_password" required #last_password="ngModel" class="form-control"
                    placeholder="Contraseña Anterior" />
                <span *ngIf="!last_password.valid && last_password.touched" class="error">
                    <i  class="material-icons"*ngIf="last_password.errors.required" matTooltip="La contraseña anterior es requerida." tooltip-position="above">error</i>
                </span>
                <span *ngIf="last_password.valid && last_password.touched" class="success">
                    <i class="material-icons">check</i>
                </span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !password.valid, 'has-success' : password.valid}">
                <i class="material-icons">lock</i>
                <input name="password" type="password" [(ngModel)]="user.password" required minlength="7" maxlength="20" #password="ngModel"
                    class="form-control" placeholder="Contraseña" />
                <span *ngIf="!password.valid && password.touched" class="error">
                    <i  class="material-icons"*ngIf="password.errors.required" matTooltip="La contraseña es requerida." tooltip-position="above">error</i>
                    <i  class="material-icons"*ngIf="password.errors.minlength || password.errors.maxlength" matTooltip="La contraseña deve tener una longitud de 8 a 20 caracteres."
                        tooltip-position="above">error</i>
                </span>
                <span *ngIf="password.valid && password.touched" class="success">
                    <i class="material-icons">check</i>
                </span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !password_confirm.valid, 'has-success' : password_confirm.valid}">
                <i class="material-icons">lock</i>
                <input name="password_confirm" type="password" [(ngModel)]="user.password_confirm" validateEqual="password" required minlength="7" maxlength="20" #password_confirm="ngModel" class="form-control" placeholder="Confirme Contraseña" />
                <span *ngIf="!password_confirm.valid && password_confirm.touched" class="error">
                    <i  class="material-icons fa fa-exclamation-triangle" *ngIf="!password_confirm.errors.validateEqual" matTooltip="Las contraseñas no coinciden."
                        tooltip-position="above">error</i>
                </span>
                <span *ngIf="password_confirm.valid && password_confirm.touched" class="success">
                    <i class="material-icons">check</i>
                </span>
            </div>
            <div class="col-12 col-md-12">
                <div class="row">
                    <div class="col-md-5 margin-bootom-sm no-padding-l-r">
                        <button type="submit" class="btn btn-success btn-lg btn-block btn-filled" [disabled]="!recoverForm.valid">
                            <i class="material-icons">save</i> Guardar
                        </button>
                    </div>
                    <div class="offset-md-2 col-md-5 margin-bootom-sm no-padding-l-r">
                        <button type="button" class="btn btn-default btn-lg btn-block btn-filled" [routerLink]="['/profile/home']">
                            <i class="material-icons">home</i> Ir al inicio
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>